#logo {
  width: 90px;
}

#leftSidebar {
  position: fixed;
  height: 310px;
}

#rightSidebar {
  position: absolute;
  float: right;
  height: 400px;
  top: 100px;
  right: 0px;
}

.media {
  border: 2px solid black;
  border-radius: 10px;
}

.btn-lg {
  background-color: rgba(230, 0, 0, 0.7);
  border-color: rgba(230, 0, 0, 1);
  margin-bottom: 10px;
}

.userName {
  font-size: 20px;
  font-weight: bold;
}

.fa-star {
  color: yellow;
}

.comment {
  /*color: white;*/
  background-color: (255, 0, 0, 0.5);
}

.placeName {
  font-weight: bold;
}
